@using Components.Extensions
@model Models.CharacterManifest

<div class="sheet-character sheet-tab">
	<div class="row">
		<div class="col-6">
			<div class="fancy-border">
				<div class="input-group mb-2">
					<span class="input-group-text" data-i18n="name">Name</span>
					<input type="text" name="attr_character_name" class="form-control" id="form_character_name"/>
				</div>
				<div class="input-group mb-2">
                	<span class="input-group-text" data-i18n="level">Level</span>
                	<input type="number" name="attr_level" class="form-control" id="form_level"/>
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text" data-i18n="race">Race</span>
	                <select name="attr_race" id="form_race" class="form-select" aria-label="race"/>
                </div>
                <div class="input-group mb-2 js-group-kind">
                	<span class="input-group-text" data-i18n="kind">Kind</span>
	                <select name="attr_kind" id="form_kind" class="form-select" aria-label="Kind"/>

                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text" data-i18n="class">Class</span>
	                <select name="attr_class" id="form_class" class="form-select" aria-label="Class"/>
                </div>
                <div class="input-group mb-2 js-group-subclass">
                	<span class="input-group-text" data-i18n="subclass">Subclass</span>
	                <select name="attr_subclass" id="form_subclass" class="form-select" aria-label="SubClass"/>
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">Прошлое</span>
                	<select name="attr_origin" id="form_class" class="form-select" aria-label="Прошлое">
                		<option value="" selected disabled>Выберите биографию</option>
                		@foreach (var origin in Model.Origins.OrderBy(p => p.Title))
                		{
                			<option value="@origin.Name">@origin.Title</option>
                		}
                	</select>
                </div>
			</div>
			<div class="fancy-border js-level-options hidden">
				@foreach (var bonusOption in Model.GetLevelBonusOptions())
                {
                	<div class="input-group mb-2 js-level-option hidden" data-name="@bonusOption.Key">
                		<span class="input-group-text">@bonusOption.Description</span>
                		<select name="attr_@bonusOption.Key" class="form-select">
                			<option value="">-</option>
                			@foreach (var option in bonusOption.Options.Select((p, i) => new { Title = p, Value = i }))
                			{
                				<option value="@option.Value">@option.Title</option>
                			}
                		</select>
                	</div>
                }
			</div>
		</div>
		<div class="col-6">
			<div class="fancy-border">
				<div class="input-group mb-2">
                	<span class="input-group-text">Бонус здоровья</span>
                	<input type="number" name="attr_hp_mod" class="form-control" id="form_level" value="0"/>
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">Бонус усталости</span>
                	<input type="number" name="attr_stamina_mod" class="form-control" id="form_level" value="0"/>
                </div>
				<div class="input-group mb-2">
					<span class="input-group-text">Бонус к проверкам</span>
					<input type="number" name="attr_global_check_mod" class="form-control" id="form_level" value="0"/>
				</div>
				<div class="input-group mb-2">
                	<span class="input-group-text">Бонус к инициативе</span>
                	<input type="number" name="attr_global_initiative_mod" class="form-control" id="form_level" value="0"/>
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">Бонус к атаке</span>
                	<input type="number" name="attr_global_attack_mod" class="form-control" id="form_level" value="0"/>
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">Бонус к урону</span>
                	<select name="attr_global_damage_type_mod" class="form-select">
                		<option value="" selected>-</option>
                		@foreach (var damageType in Model.DamageTypes)
                		{
                			<option value="@damageType.Name">@damageType.Title</option>
                		}
                	</select>
                	<input type="number" name="attr_global_damage_mod" class="form-control" id="form_level"/>
                </div>
			</div>
		</div>
	</div>
</div>
